<p id="notice"><%= notice %></p>

<h1>Group Member Profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_member_profiles.each do |group_member_profile| %>
      <tr>
        <td><%= link_to 'Show', group_member_profile %></td>
        <td><%= link_to 'Edit', edit_group_member_profile_path(group_member_profile) %></td>
        <td><%= link_to 'Destroy', group_member_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group Member Profile', new_group_member_profile_path %>
