<p id="notice"><%= notice %></p>

<h1>Community Memberships</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @community_memberships.each do |community_membership| %>
      <tr>
        <td><%= link_to 'Show', community_membership %></td>
        <td><%= link_to 'Edit', edit_community_membership_path(community_membership) %></td>
        <td><%= link_to 'Destroy', community_membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community Membership', new_community_membership_path %>
